<div class="board">
  <row>
    <hex model="$ctrl.tiles[0]" setup="$ctrl.setup"></hex>
    <hex model="$ctrl.tiles[1]" setup="$ctrl.setup"></hex>
    <hex model="$ctrl.tiles[2]" setup="$ctrl.setup"></hex>
  </row> 
  <row>
    <hex model="$ctrl.tiles[3]" setup="$ctrl.setup"></hex>
    <hex model="$ctrl.tiles[4]" setup="$ctrl.setup"></hex>
    <hex model="$ctrl.tiles[5]" setup="$ctrl.setup"></hex>
    <hex model="$ctrl.tiles[6]" setup="$ctrl.setup"></hex>
  </row> 
  <row>
    <hex model="$ctrl.tiles[7]" setup="$ctrl.setup"></hex>
    <hex model="$ctrl.tiles[8]" setup="$ctrl.setup"></hex>
    <hex model="$ctrl.tiles[9]" setup="$ctrl.setup"></hex>
    <hex model="$ctrl.tiles[10]" setup="$ctrl.setup"></hex>
    <hex model="$ctrl.tiles[11]" setup="$ctrl.setup"></hex>
  </row> 
  <row>
    <hex model="$ctrl.tiles[12]" setup="$ctrl.setup"></hex>
    <hex model="$ctrl.tiles[13]" setup="$ctrl.setup"></hex>
    <hex model="$ctrl.tiles[14]" setup="$ctrl.setup"></hex>
    <hex model="$ctrl.tiles[15]" setup="$ctrl.setup"></hex>
  </row> 
  <row>
    <hex model="$ctrl.tiles[16]" setup="$ctrl.setup"></hex>
    <hex model="$ctrl.tiles[17]" setup="$ctrl.setup"></hex>
    <hex model="$ctrl.tiles[18]" setup="$ctrl.setup"></hex>
  </row> 
</div>
<controls class="clearfix" msg="{{$ctrl.msg}}" cities="$ctrl.cities"></controls>